/* External CSS */
h2 {
    color: orange;
    font-size: 28px;
}

input {
    background-color: blue;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

input:hover {
    background-color: rgb(201, 14, 129);
}
